body{
    background: #F5F7F9 !important;
    font-family: 'Merriweather', serif !important;
}

.pelep_logo{
    width: 80%;
}

.logo{
    text-align: center;
}

.form{
    width: 30% !important;
    margin: auto;
    border: 1px solid #577590;
    border-radius: 10px;
    background: white;
    margin-top: 120px;
}

.gast_knop{
    background-color: #577590 !important;
    color: white !important;
    width: 100%;
}

.gast_knop:hover{
    background-color: white !important;
    color: #577590 !important;
    border-color: #577590 !important;
    cursor: pointer;
}