html,body{
  margin: 0;
  font-family: 'Monserrat', sans-serif;
  /* font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; */
}

:root{
  --samenwerken: #ff8b85;
  --reflecteren: #ffc370;
  --plannen: #ffd670;
  --boodschap-overbrengen: #A5d2ab;
  --pro-actief: #6ec7ed;
  --aanpassingsvermogen: #deccff;
  --popup-achtergrond: rgba(54, 54, 54, 0.527);
  --app-color: #cfdafc;
  --shadow-color: rgb(148, 148, 148);
  --samenwerken-hover: #E00B00;
  --reflecteren-hover: #CC7700;
  --plannen-hover: #CC9200;
  --boodschap-overbrengen-hover: #4B9555;
  --pro-actief-hover: #1478A3;
  --aanpassingsvermogen-hover: #7A33FF;
}


/* checkpoint maken CSS */
.popup-container {
  position: fixed;
  width: 100%;
  height: 100%;

  background-color: var(--popup-achtergrond);
    
  display: none;/* Default is NONE!*/
}

/* general popup div*/
.popup-screen{
  background: white;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
}

/* div voor competenties */
.popup-competenties{
  background-color: var(--app-color);
  border-bottom: var(--app-color) solid;
}

/* div voor titel */
.popup-title{
  background-color: white;
  display: inline-block;
  margin-right: 30px;
  margin-left: 40px;
  margin-top: 20px;
  padding: 0;
}
.popup-input{
  font-size: 24px;
  width: 100%;
  padding: 0;
  box-sizing: border-box;
}

/* div voor smiley */
.popup-smiley{
  text-align: center;
  background-color: white;
  float: right;
  margin-right: 15px;
}

/* div voor Pulse input */
.popup-pulse{
  padding-left: 40px;
  padding-right: 40px;
}
.popup-context{
  outline: none;
  resize: none;
  overflow: auto;
  box-sizing: border-box;
}

/* buttons*/
.popup-cancel{
  float: left;
  margin-left: 40px;
  margin-bottom: 5px;
  margin-top: 5px;
}
.popup-create{
  float: right;
  margin-right: 40px;
  margin-bottom: 12px;
  margin-top: 5px;
}

/* popup button design */
.popup-button {
	background-color:#ffffff;
	border: 1px solid black;
	display:inline-block;
	cursor:pointer;
	color:black;
	font-family:Arial;
	font-size:15px;
	padding:8px 22px;
	text-decoration:none;
	text-shadow:0px 0px 0px black;
  box-shadow: 2px 4px var(--shadow-color);
}
.popup-button:hover {
	background-color: var(--app-color);
}
.popup-button:active {
	position:relative;
	top:1px;
}

    /* //////////////////////////////////////////////// */
      /* GUI website styling*/
/* icon container */
.main-page-container{
  width: 100%;
}
.icon-container{
  width: 100%;
  height: 20%;
  padding: 10px;
  background-color: rgba(0, 128, 0, 0.178) ;
}
.icon-right{
  float: right;
}

/* maak checkpoint en zoek filter */
.create-checkpoint-button{
  float: left;
  margin-left: 20px;
  font-size: larger;
}
.filter-button{
  float: right;
  margin-right: 20px;
  font-size: larger;
}


/* Media Query's */

@media screen and (min-width:1025px){
  .popup-screen{
    width: 50%;
  }
  .poup-competenties{
    width: 100%;
  }
  .popup-title{
    width: 50%;
  }
  .popup-smiley{
    width: 30%;
  }
  .popup-context{
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 1024px){
  /* Tussen telefoon en computer in dus tablet */
  .popup-screen{
    width: 70%;
  }
  .popup-title{
    display: block;
    margin: 0 auto;
    padding-right: 40px;
    padding-left: 40px;
    margin-top: 20px;
  }
  .popup-smiley{
    float: none;
    text-align: center;
    width: 100%;
  }
  .popup-context{
    width: 100%;
  }
}

@media screen and (min-width: 428px) and (max-width: 768px){
 /* middelgrootte telefoons */
 .popup-screen{
   width: 80%;
 }
}


@media screen and (max-width: 427px){
  .popup-screen{
    width: 90%;
  }
  .popup-button{
    display: block;
  }
  .popup-create{
    float: left;
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-right: 10px;
    width: 92%;
  }
  .popup-cancel{
    float: left;
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-right: 10px;
    width: 92%;
  }
  .popup-pulse{
    padding-left: 10px;
    padding-right: 10px;
  }
  .popup-title{
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
  }
}

/*competenties */
.competenties{
  display: inline-block;
  text-align: center;
  height: 20px;
  border: 0.1px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  box-shadow: 2px 4px var(--shadow-color);
}
.competenties:hover{
  cursor: pointer;
}

#samenwerken, #Samenwerken-kies{
  background-color: var(--samenwerken);
}
#Pro-actief, #Pro-actief-kies{
  background-color: var(--pro-actief);
}
#Boodschap, #Boodschap-kies{
  background-color: var(--boodschap-overbrengen);
}
#Reflecteren, #Reflecteren-kies{
  background-color: var(--reflecteren);
}
#Aanpassingsvermogen, #Aanpassingsvermogen-kies{
  background-color: var(--aanpassingsvermogen);
}
#plannen, #Plannen-kies{
  background-color: var(--plannen);
}

.competentie{
  margin-right: 3px;
  margin-left: 3px;
}

.competentie:hover{
  cursor: pointer;
}
.foutmelding{
  color: red;
  margin-left: 40px;
}

p{
  display: inline-block;
}

.smiley{
  display: inline-block;
  color: red;
  cursor: pointer;
}

#competenties-gekozen{
  margin-left: 40px;
  border-radius: 25px;
}
#Samenwerken-kies:hover{
  background-color: #E00B00;
}
#Reflecteren-kies:hover{
  background-color: #CC7700;
}
#Plannen-kies:hover{
  background-color: #CC9200;
}
#Boodschap-kies:hover{
  background-color: #4B9555;
}
#Pro-actief-kies:hover{
  background-color: #1478A3;
}
#Aanpassingsvermogen-kies:hover{
  background-color: #7A33FF;
}

#Samenwerken-kies, #Reflecteren-kies, #Boodschap-kies, #Pro-actief-kies, #Plannen-kies, #Aanpassingsvermogen-kies{
  display: none;
  text-align: center;
  height: 20px;
  border: 0.1px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  box-shadow: 2px 4px var(--shadow-color);
  height: 10px; 
  width: 40px;
  cursor: pointer;
}