html,body{
  margin: 0;
}

:root{
  --samenwerken: #ff8b85;
  --reflecteren: #ffc370;
  --plannen: #ffd670;
  --boodschap-overbrengen: #A5d2ab;
  --pro-actief: #6ec7ed;
  --aanpassingsvermogen: #deccff;
  --popup-achtergrond: rgba(54, 54, 54, 0.527);
  --app-color: #cfdafc;
  --shadow-color: rgb(148, 148, 148);
}


/* checkpoint maken CSS */
.popup-container {
  position: fixed;
  width: 100%;
  height: 100%;

  background-color: var(--popup-achtergrond);
    
  display: block;/* Default is NONE!*/
}

/* general popup div*/
.popup-screen{
  background: white;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
}

/* div voor competenties */
.popup-competenties{
  background-color: var(--app-color);
  border-bottom: var(--app-color) solid;
}

/* div voor titel*/
.popup-title{
  background-color: white;
  margin-right: 30px;
  padding-left: 40px;
  display: inline-block;
  margin-top: 20px;
}
.popup-input{
  font-size: 24px;
}

/* div voor smiley*/
.popup-smiley{
  text-align: center;
  background-color: white;
  float: right;
  margin-right: 15px;
}

/* div voor Pulse input*/
.popup-pulse{
  padding-left: 40px;
  padding-right: 40px;
}
.popup-context{
  outline: none;
  resize: none;
  overflow: auto;
  box-sizing: border-box;

}

/* buttons*/
.popup-cancel{
  float: left;
  margin-left: 40px;
  margin-bottom: 5px;
  margin-top: 5px;
}
.popup-create{
  float: right;
  margin-right: 40px;
  margin-bottom: 12px;
  margin-top: 5px;
}

/* popup button design */
.popup-button {
	background-color:#ffffff;
	border: 1px solid black;
	display:inline-block;
	cursor:pointer;
	color:black;
	font-family:Arial;
	font-size:15px;
	padding:8px 22px;
	text-decoration:none;
	text-shadow:0px 0px 0px black;
  box-shadow: 2px 4px var(--shadow-color);
}
.popup-button:hover {
	background-color: var(--app-color);
}
.popup-button:active {
	position:relative;
	top:1px;
}

/* Media Query's */

@media screen and (min-width:1025px){
  .popup-screen{
    width: 50%;
  }
  .poup-competenties{
    width: 100%;
  }
  .popup-title{
    width: 40%;
  }
  .popup-smiley{
    width: 30%;
  }
  .popup-context{
    width: 100%;
    height: 100%;
  }
}

@media screen and (min-width:401px) and (max-width: 768px){
 /* Telefoon zoals iphone 5 (kleinste scherm 320 px breed)*/
 .popup-screen{
   width: 80%;
 }
}

@media screen and (max-width: 1024px){
  /* Tussen telefoon en computer in dus tablet */
  .popup-screen{
    width: 70%;
  }
  .popup-title{
    display: block;
    padding-right: 40px;
    margin-right: 0;
  }
  .popup-input{
    width: 99%;
  }
  .popup-smiley{
    float: none;
    text-align: center;
    width: 100%;
  }
  .popup-context{
    width: 100%;
  }
}

@media screen and (max-width: 400px){

}

/*competenties */
.competenties{
  display: inline-block;
  text-align: center;
  height: 20px;
  border: 0.1px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  box-shadow: 2px 4px var(--shadow-color);
}


#samenwerken, #Samenwerken-kies{
  background-color: var(--samenwerken);
}
#Pro-actief, #Pro-actief-kies{
  background-color: var(--pro-actief);
}
#Boodschap, #Boodschap-kies{
  background-color: var(--boodschap-overbrengen);
}
#Reflecteren, #Reflecteren-kies{
  background-color: var(--reflecteren);
}
#Aanpassingsvermogen, #Aanpassingsvermogen-kies{
  background-color: var(--aanpassingsvermogen);
}
#plannen, #Plannen-kies{
  background-color: var(--plannen);
}

.competentie{
  margin-right: 3px;
  margin-left: 3px;
}

#competenties-gekozen{
  margin-left: 40px;
}

#Samenwerken-kies, #Reflecteren-kies, #Boodschap-kies, #Pro-actief-kies, #Plannen-kies, #Aanpassingsvermogen-kies{
  display: none;
  text-align: center;
  height: 20px;
  border: 0.1px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  box-shadow: 2px 4px var(--shadow-color);
  height: 10px; 
  width: 40px;
}