*{
  margin: auto;
}
html,body{
  margin: 0;
  font-family: 'Monserrat', sans-serif;
  /* font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; */
}

:root{
  --samenwerken: #ff8b85;
  --reflecteren: #ffc370;
  --plannen: #ffd670;
  --boodschap-overbrengen: #A5d2ab;
  --pro-actief: #6ec7ed;
  --aanpassingsvermogen: #deccff;
  --popup-achtergrond: rgba(54, 54, 54, 0.527);
  --app-color: #cfdafc;
  --shadow-color: rgb(148, 148, 148);
  --samenwerken-hover: #E00B00;
  --reflecteren-hover: #CC7700;
  --plannen-hover: #CC9200;
  --boodschap-overbrengen-hover: #4B9555;
  --pro-actief-hover: #1478A3;
  --aanpassingsvermogen-hover: #7A33FF;
}


/* checkpoint maken CSS */
.popup-container {
  position: fixed;
  width: 100%;
  height: 100%;

  background-color: var(--popup-achtergrond);
    
  display: none;/* Default is NONE!*/

  z-index: 1;
}

/* general popup div*/
.popup-screen{
  background: white;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
}

/* div voor competenties */
.popup-competenties{
  background-color: var(--app-color);
  border-bottom: var(--app-color) solid;
}

/* div voor titel */
.popup-title{
  background-color: white;
  display: inline-block;
  margin-right: 30px;
  margin-left: 40px;
  margin-top: 20px;
  padding: 0;
}
.popup-input{
  font-size: 24px;
  width: 100%;
  padding: 0;
  box-sizing: border-box;
}

/* div voor smiley */
.popup-smiley{
  text-align: center;
  background-color: white;
  float: right;
  margin-right: 15px;
}

/* div voor Pulse input */
.popup-pulse{
  padding-left: 40px;
  padding-right: 40px;
}
.popup-context{
  outline: none;
  resize: none;
  overflow: auto;
  box-sizing: border-box;
}

/* buttons*/
.popup-cancel{
  float: left;
  margin-left: 40px;
  margin-bottom: 5px;
  margin-top: 5px;
}
.popup-create{
  float: right;
  margin-right: 40px;
  margin-bottom: 12px;
  margin-top: 5px;
}

/* popup button design */
.popup-button {
	background-color:#ffffff;
	border: 1px solid black;
	display:inline-block;
	cursor:pointer;
	color:black;
	font-family:Arial;
	font-size:15px;
	padding:8px 22px;
	text-decoration:none;
	text-shadow:0px 0px 0px black;
  box-shadow: 2px 4px var(--shadow-color);
}
.popup-button:hover {
	background-color: var(--app-color);
}
.popup-button:active {
	position:relative;
	top:1px;
}

    /* //////////////////////////////////////////////// */
      /* GUI website styling*/
/* Main container */
.main-page-container{
  width: 100%;
  height: auto;

  z-index: -1;
}

/* settings, notifications */
.icon-container{
  position: relative;
  width: 100%;
  height: 30px;

}
.icon-right{
  float: right;
  position: relative;
}
/* profile container */
.profile-container{
  width: 100%;
  position: relative;
}
/* profile wrapper */
.profile-wrapper > * {
  vertical-align: middle;
}
.profile-wrapper{
  position: relative;
}
/* Personal Profile */
.personal-profile{
  position: relative;
  width: 63%;

  left: 10%;

  display: inline-block;
}
/* Profile name */
.profile-name{
  width: 50%;
  margin-left: 25%;
  text-align: center;
}
/* profile picture */
.profile-inline, .profile-image{
  display: inline-block;
}
.profile-picture-circle{
  border: 1px solid black;
  border-radius: 50%;
  width: 280px;
  height: 280px;
  margin-bottom: 25px;
  background-color: var(--app-color);
}
/* progression graph */
.profile-graph{
  display: inline-block;
  width: 80%;
}
#dummy-graph{ 
  width: 55%;
  height: auto;
  margin-bottom: 20px;
  margin-left: 40px;
}

/* Legenda */
.profile-legenda{
  width: 15%;
  float: right;

  margin-right: 10%;
  margin-top: 60px;

  border: black 1px solid;
  background-color: var(--app-color);
}
.legenda-title{
  border-bottom: solid black 1px;
}
.legenda-name{
  text-align: center;
  margin-top: 7px;
  margin-bottom: 7px;
}
.legenda{
  background-color: white;
}

/* Legenda blokjes*/
.leg-samenwerken{
  width: 20px;
  height: 20px;

  background-color: var(--samenwerken);

  margin-top: 5px;
  margin-bottom: 5px;
}
.leg-reflecteren{
  width: 20px;
  height: 20px;

  background-color: var(--reflecteren);

  margin-top: 5px;
  margin-bottom: 5px;
}
.leg-plannen{
  width: 20px;
  height: 20px;

  background-color: var(--plannen);

  margin-top: 5px;
  margin-bottom: 5px;
}
.leg-boodschap-overbrengen{
  width: 20px;
  height: 20px;

  background-color: var(--boodschap-overbrengen);

  margin-top: 5px;
  margin-bottom: 5px;
}
.leg-pro-actief{
  width: 20px;
  height: 20px;

  background-color: var(--pro-actief);

  margin-top: 5px;
  margin-bottom: 5px;
}
.leg-aanpassingsvermogen{
  width: 20px;
  height: 20px;

  background-color: var(--aanpassingsvermogen);

  margin-top: 5px;
  margin-bottom: 5px;
}

/* maak checkpoint en zoek filter */
.third-layer{
  margin-top: 50px;
}
.create-checkpoint-button{
  float: left;
  margin-left: 10%;
  font-size: larger;
  width: 250px;
}
.filter-button{
  float: right;
  margin-right: 10%;
  font-size: larger;
  width: 15.1%;
}

/* Selcheck Div aka third layer*/
.selcheck-container{
  position: relative;
  width: 100%;
  height: 50px;
  margin-top: 30px;
}

/* Pulses timeline */
.timeline-container{
  width: 100%;
  height: 100px;

}
.timeline-wrapper{
  background-color: var(--app-color);
  width: 70%;
  height: 1000px;

  margin: 0 auto;
  position: relative;
}

/*competenties */
.competenties{
  display: inline-block;
  text-align: center;
  height: 20px;
  border: 0.1px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  box-shadow: 2px 4px var(--shadow-color);
}
.competenties:hover{
  cursor: pointer;
}

#samenwerken, #Samenwerken-kies{
  background-color: var(--samenwerken);
}
#Pro-actief, #Pro-actief-kies{
  background-color: var(--pro-actief);
}
#Boodschap, #Boodschap-kies{
  background-color: var(--boodschap-overbrengen);
}
#Reflecteren, #Reflecteren-kies{
  background-color: var(--reflecteren);
}
#Aanpassingsvermogen, #Aanpassingsvermogen-kies{
  background-color: var(--aanpassingsvermogen);
}
#plannen, #Plannen-kies{
  background-color: var(--plannen);
}

.competentie{
  margin-right: 3px;
  margin-left: 3px;
}

#competenties-gekozen{
  margin-left: 40px;
  border-radius: 25px;
  cursor: pointer;
}

#Samenwerken-kies:hover{
  background-color: #E00B00;
}
#Reflecteren-kies:hover{
  background-color: #CC7700;
}
#Plannen-kies:hover{
  background-color: #CC9200;
}
#Boodschap-kies:hover{
  background-color: #4B9555;
}
#Pro-actief-kies:hover{
  background-color: #1478A3;
}
#Aanpassingsvermogen-kies:hover{
  background-color: #7A33FF;
}

#Samenwerken-kies, #Reflecteren-kies, #Boodschap-kies, #Pro-actief-kies, #Plannen-kies, #Aanpassingsvermogen-kies{
  display: none;
  text-align: center;
  height: 20px;
  border: 0.1px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  box-shadow: 2px 4px var(--shadow-color);
  height: 10px; 
  width: 40px;
}


/* De smileys */
.smiley{
  display: inline-block;
  cursor: pointer;
}
/* #onder{
  border-radius: 50%;
  margin-top: 0.5px;
  margin-bottom: auto;
  border: solid black;
} */
/* #onder_border{
  border-radius: 50%;
  display: inline-block;
  margin-top: auto;
  margin-bottom: auto;
  height: 34px;
} */

.foutmelding{
  color: red;
  margin-left: 40px;
}

p{
  display: inline-block;
}

/* Media Query's */

@media screen and (max-width:1441px){
  .profile-picture-circle{
    width: 200px;
    height: 200px;
  }
}

@media screen and (max-width:1367px){
  .profile-picture-circle{
    width: 180px;
    height: 180px;
  }
  .profile-legenda{
    width: 200px;
  }
  .selcheck-container{
    margin-top: 70px;
  }
}

@media screen and (max-width:1024px){
  /* GUI */
  .profile-picture-circle{
    width: 130px;
    height: 130px;
  }

  .profile-legenda{
    margin-top: 40px;
  }
  .filter-button{
    padding-left: 15px;
  }
  .create-checkpoint-button{
    width: 200px;
    margin-left: 15%;
  }
}

@media screen and (min-width:1025px){
  /* Popup */
  .popup-screen{
    width: 50%;
  }
  .poup-competenties{
    width: 100%;
  }
  .popup-title{
    width: 50%;
  }
  .popup-smiley{
    width: 30%;
  }
  .popup-context{
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 1024px){
  /* Tussen telefoon en computer in dus tablet */
  /* Popup */
  .popup-screen{
    width: 70%;
  }
  .popup-title{
    display: block;
    margin: 0 auto;
    padding-right: 40px;
    padding-left: 40px;
    margin-top: 20px;
  }
  .popup-smiley{
    float: none;
    text-align: center;
    width: 100%;
  }
  .popup-context{
    width: 100%;
  }
  .profile-legenda{
    margin-top: 0;
  }
  .selcheck-container{
    margin-top: 40px;
  }
  .filter-button{
    margin-right: 15%;
  }
}

@media screen and (min-width: 428px) and (max-width: 768px){
 /* middelgrootte telefoons */
 .popup-screen{
   width: 80%;
 }

 /* GUI */
 .personal-profile{
   left: 15%;
   width: 50%;
   text-align: center;
 }
 .profile-name{
   width: 100%;
   margin-left: 0%;
 }
 .profile-picture-circle{
   width: 180px;
   height: 180px;
 }
 .profile-legenda{
   margin-right: 5%;
 }
 #dummy-graph{
   display: none;
 }
 .filter-button{
  margin-right: 5%;
  width: 200px;
 }
 .create-checkpoint-button{
   margin-left: 5%;
 }

 .profile-picture-circle{
   margin: auto;
 }
 .selcheck-container{
   margin-top: 30px;
 }
 .timeline-wrapper{
   width: 90%;
 }
}

@media screen and (max-width: 427px){
  /* Popup */
  .popup-screen{
    width: 90%;
  }
  .popup-button{
    display: block;
  }
  .popup-create{
    float: left;
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-right: 10px;
    width: 92%;
  }
  .popup-cancel{
    float: left;
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-right: 10px;
    width: 92%;
  }
  .popup-pulse{
    padding-left: 10px;
    padding-right: 10px;
  }
  .popup-title{
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
  }

  /* GUI */
  .profile-wrapper{
    width: 100%;
  }
  .personal-profile{
    width: 100%;
    text-align: center;
    display: block;
    left: 0;
  }
  .profile-name{
    display: block;
    width: 100%;
    margin-left: 0%;
  }
  .profile-picture-circle{
    width: 180px;
    height: 180px;
    display: block;
  }
  .profile-legenda{
    margin: 0;
    float: none;
    margin: auto;
  }
  #dummy-graph{
    display: none;
  }

  .selcheck-container{
    display: block;
    height: auto;
  }
  .create-checkpoint-button{
    margin: auto;
    width: 90%;
    float: none;
  }
  .filter-button{
    margin: auto;
    width: 90%;
    float: none;
    text-align-last: center;
  }

  .timeline-container{
    position: relative;
    display: block;
    margin-top: 25px;
  }
  .timeline-wrapper{
    position: unset;
    display: block;
    width: 95%;
  }
}

/*competenties */
.competenties{
  display: inline-block;
  text-align: center;
  height: 20px;
  border: 0.1px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  box-shadow: 2px 4px var(--shadow-color);
}
.competenties:hover{
  cursor: pointer;
}

#samenwerken, #Samenwerken-kies{
  background-color: var(--samenwerken);
}
#Pro-actief, #Pro-actief-kies{
  background-color: var(--pro-actief);
}
#Boodschap, #Boodschap-kies{
  background-color: var(--boodschap-overbrengen);
}
#Reflecteren, #Reflecteren-kies{
  background-color: var(--reflecteren);
}
#Aanpassingsvermogen, #Aanpassingsvermogen-kies{
  background-color: var(--aanpassingsvermogen);
}
#plannen, #Plannen-kies{
  background-color: var(--plannen);
}

.competentie{
  margin-right: 3px;
  margin-left: 3px;
}

.competentie:hover{
  cursor: pointer;
}
.foutmelding{
  color: red;
  margin-left: 40px;
}

p{
  display: inline-block;
}

.smiley{
  display: inline-block;
  color: red;
  cursor: pointer;
}

#competenties-gekozen{
  margin-left: 40px;
  border-radius: 25px;
}
#Samenwerken-kies:hover{
  background-color: #E00B00;
}
#Reflecteren-kies:hover{
  background-color: #CC7700;
}
#Plannen-kies:hover{
  background-color: #CC9200;
}
#Boodschap-kies:hover{
  background-color: #4B9555;
}
#Pro-actief-kies:hover{
  background-color: #1478A3;
}
#Aanpassingsvermogen-kies:hover{
  background-color: #7A33FF;
}

#Samenwerken-kies, #Reflecteren-kies, #Boodschap-kies, #Pro-actief-kies, #Plannen-kies, #Aanpassingsvermogen-kies{
  display: none;
  text-align: center;
  height: 20px;
  border: 0.1px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  box-shadow: 2px 4px var(--shadow-color);
  height: 10px; 
  width: 40px;
  cursor: pointer;
}
