*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
   background: #F5F7F9 !important;
   font-family: 'Merriweather', serif !important;
}
.row{
  background-color: white;
  border-radius: 30px;
  box-shadow: 12px 12px 22px gray;
}


.container2{
  width: 600px;
  height: 480px;
  padding: 50px;
  margin: auto;
  margin-top: 16rem;
  border: 1px solid #577590;
  border-radius: 8px;
  background: white;
}

hr{
  opacity: 1 !important;
  color: #577590 !important;
}

.Form{
position: relative;
}

.mb-3{
  text-align: center;
  color: #577590;
}

img{
  width: 30vh;
  height: 145px;
  margin: auto;
  display: block;
  margin-bottom: 30px;

}

.btn1{
  border: none;
  outline: none;
  height: 50px;
  width: 100%;
  background-color: #577590;
  color: white;
  border-radius: 4px;
  font-weight: bold;
}
.btn2{
  border: none;
  outline: none;
  height: 50px;
  width: 100%;
  background-color: white;
  color: #577590;
  border-radius: 4px;
  font-weight: bold;
}
.btn1:hover{
  background-color: white;
  border: 1px solid;
  color: #577590;
}

.btn2:hover{
  background-color: white;
  border: 1px solid;
  color: #577590;
}

.menuBtn{
  padding: 2px;
  margin: auto;
  background: white;
  text-align: center;
  position: fixed;
  border: 1px solid #577590;
  border-radius: 50%;
  cursor: pointer;
  font-size: 35px;
  color: #577590;
}

.menuBtn i{
  width: 40px;
}
.menuBtn:hover{
  color: white;
  background: #577590;
}

input:invalid {
  border: 1px solid #577590;
  opacity: 70%;
}

.invalid{
  color: #ff2f36;
  font-size: 14px;
  text-align: center;
  opacity: 80%;
}
